body {
    background: #e8e9c5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

svg {
    max-height: 70vh;
}


#full {
    position: absolute;
    transform: translate(0, 0);
}


.buttons {
    height: 20%;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.anibtn {
    width: 30vh;
    height: 100%;
    background: #65910c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease box-shadow .5s;
    position: relative;
}

.anibtn:hover {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

.inner-launch {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.launch {
    height: 70%;
    /* transition: ease all .5s; */
}

.grow {
    height: 70%;
}

.salto {
    height: 50%;
    margin-top: 10%;
}

/* .inner-launch:hover .launch{
    height: 80%;
} */

svg#groei {
    height: 80%;
}

#flower1 {
    opacity: 0;
}


#base {
    z-index: 1000;
}

.audio-box{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
